@layer components {
  .accordion-btn {
    @apply transition;
  }

  .accordion-btn i {
    transition: transform ease 250ms;
  }

  .accordion-btn.active i {
    transform: rotate(180deg);
  }

  .accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
