@layer components {
  /* button */
  .btn {
    @apply text-center rounded-lg;
    transition-property: box-shadow, background-color, border-color, color, fill,
      stroke, opacity, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    white-space: nowrap;
  }

  .btn-sm {
    @apply text-sm px-6 py-2.5;
  }
  .btn-lg {
    @apply text-base px-8 py-3;
  }
  .btn-xl {
    @apply text-base px-12 py-4;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-600 text-white ring-0 ring-primary-400 focus:ring-4;
  }

  .btn-secondary {
    @apply bg-secondary hover:bg-secondary-400 text-white ring-0 ring-secondary-400 focus:ring-4;
  }

  .btn-alternative {
    @apply border border-gray-400 hover:bg-gray-100 text-gray-700 bg-white ring-0 ring-gray-300 focus:ring-4;
  }

  .btn-dark {
    @apply bg-neutral-700 hover:bg-neutral-900 text-white ring-0 ring-neutral-500 focus:ring-4;
  }

  .btn-red {
    @apply bg-rose-600 hover:bg-rose-700 text-white ring-0 ring-rose-300 focus:ring-4;
  }

  .btn-green {
    @apply bg-emerald-600 hover:bg-emerald-700 text-white ring-0 ring-emerald-300 focus:ring-4;
  }

  .btn-yellow {
    @apply bg-amber-400 hover:bg-amber-500 text-neutral-900 ring-0 ring-amber-200 focus:ring-4;
  }

  .btn-blue {
    @apply bg-sky-500 hover:bg-sky-600 text-white ring-0 ring-sky-300 focus:ring-4;
  }

  .btn-link {
    @apply text-blue-600 hover:text-blue-700;
  }

  .btn-icon {
    @apply flex items-center gap-2;
  }
}
