<footer class="bg-primary-white bg-repeat heropattern-topography-gray-100 ">
  <div class="container pt-9 pb-16 flex gap-8 md:flex-wrap md:gap-0 md:gap-y-12">
    <div class="text-primary-gray w-1/3 md:w-1/2 xs:w-full">
      <h1 class="font-normal text-xl pb-2 border-b border-b-primary-gray/30 inline-block">راه های ارتباطی</h1>

      <ul class="mt-5 flex flex-col gap-3">
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-location"></i></span>
          <p class="sm:max-w-[70%]">آدرس  : خراسان رضوی - مشهد - بلوار شهید کلاهدوز - کلاهدوز ۳۰ - پلاک ۹۴ - طبقه ۴</p>
        </li>
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-call"></i></span>
          <p>تلفن :‌ 05137298074</p>
        </li>
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-whatsapp"></i></span>
          <p>واتساپ :‌ 09016449101</p>
        </li>
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-24-support"></i></span>
          <p>پشتیبانی :‌ 09016449101</p>
        </li>
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-mail"></i></span>
          <p>ایمیل :‌ gpu@unimats.ir</p>
        </li>
      </ul>
    </div>

    <div class="text-primary-gray w-1/3 md:w-1/2 xs:w-full">
      <h1 class="font-normal text-xl pb-2 border-b border-b-primary-gray/30 inline-block">سایت های مرتبط</h1>

      <ul class="mt-5 flex flex-col gap-3">
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-location"></i></span>
          <p><a href="#">بازارچه آنلاین هنر</a></p>
        </li>
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-call"></i></span>
          <p><a href="#">سامانه آموزش مجازی</a></p>
        </li>
        <li class="flex gap-2 font-light">
          <span><i class="icon icon-whatsapp"></i></span>
          <p><a href="#">موسسه اموزش عالی فروس مشهد</a></p>
        </li>
      </ul>
    </div>

    <div class="w-1/3 flex md:w-full xs:w-full">
      <div><img src="./assets/enamad.png" alt=""></div>
      <div><img src="./assets/samandehi.png" alt=""></div>
    </div>
  </div>

  <div class="border-t border-primary-gray/30 text-center text-primary-gray font-light py-4">
    <p class="sm:max-w-[70%] mx-auto">تمامی حقوق این وبسایت برای مرکز پردازشی فردوس محفوظ میباشید ©️</p>
  </div>
</footer>
