@layer components {
  header {
    nav {
      ul {
        li {
          @apply relative;

          a {
            @extend %hover-underline-style;
          }

          ul {
            @apply absolute top-full right-0 flex-col bg-white z-10 p-3 rounded-lg whitespace-nowrap shadow-xl transition
                   pointer-events-none -translate-y-1 opacity-0;
          }

          &:hover {
            ul {
              @apply pointer-events-auto -translate-y-0 opacity-100;
            }
          }
        }
      }
    }
  }

  footer {
    li {
      @apply relative;

      &:hover {
        &::before {
          @apply h-full;
        }
      }

      &::before {
        content: '';
        @apply h-0 w-0.5 bg-primary-gray/30 rounded-full absolute -right-2 top-0 z-20 transition-[height];
      }
    }
  }

  #searchBox {
    @apply absolute top-full left-0 z-20 pointer-events-none -translate-y-1 opacity-0 transition;

    &.active {
      @apply pointer-events-auto -translate-y-0 opacity-100;
    }
  }

  #mobileMenu {
    @apply hidden lg:block bg-white;
  }

  [data-scroll-overlay] {
    @apply relative;

    &::before {
      content: '';
      @apply bg-gradient-to-b from-transparent to-white absolute w-full h-36 bottom-0 pointer-events-none transition;
    }

    &::after {
      font-family: icons, IRANSansX !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      content: 'اسکورل کنید \f104';
      @apply absolute w-full text-center bottom-0 pointer-events-none font-bold text-sm transition py-3;

      // TODO: style [after] element
      // TODO: customize scroll
    }
  }

  [data-scroll-overlay='0'] {
    &::before,
    &::after {
      @apply opacity-0;
    }
  }

  [class*='overflow'] {
    @apply pl-4;
    /* width */
    &::-webkit-scrollbar {
      @apply w-2;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-primary-50 rounded-lg;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-primary rounded-lg;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-primary-600;
    }
  }
}
