@font-face {
    font-family: "icons";
    src: url("../fonts/icons.ttf?56273d41cdfacf29f6ec29535676aeed") format("truetype"),
url("../fonts/icons.woff?56273d41cdfacf29f6ec29535676aeed") format("woff"),
url("../fonts/icons.woff2?56273d41cdfacf29f6ec29535676aeed") format("woff2"),
url("../fonts/icons.eot?56273d41cdfacf29f6ec29535676aeed#iefix") format("embedded-opentype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-24-support:before {
    content: "\f101";
}
.icon-3dcube:before {
    content: "\f102";
}
.icon-arrow-down:before {
    content: "\f103";
}
.icon-arrow-left:before {
    content: "\f104";
}
.icon-arrow-right:before {
    content: "\f105";
}
.icon-call:before {
    content: "\f106";
}
.icon-instagram:before {
    content: "\f107";
}
.icon-location:before {
    content: "\f108";
}
.icon-mail:before {
    content: "\f109";
}
.icon-menu:before {
    content: "\f10a";
}
.icon-search-normal:before {
    content: "\f10b";
}
.icon-star:before {
    content: "\f10c";
}
.icon-tick-square:before {
    content: "\f10d";
}
.icon-whatsapp:before {
    content: "\f10e";
}
