@font-face {
    font-family: "icons";
    src: url("../fonts/icons.ttf?2a86e5f7e528460525e65856afde7c7f") format("truetype"),
url("../fonts/icons.woff?2a86e5f7e528460525e65856afde7c7f") format("woff"),
url("../fonts/icons.woff2?2a86e5f7e528460525e65856afde7c7f") format("woff2"),
url("../fonts/icons.eot?2a86e5f7e528460525e65856afde7c7f#iefix") format("embedded-opentype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-24-support:before {
    content: "\f101";
}
.icon-3dcube:before {
    content: "\f102";
}
.icon-angle-down:before {
    content: "\f103";
}
.icon-arrow-down:before {
    content: "\f104";
}
.icon-arrow-left:before {
    content: "\f105";
}
.icon-arrow-right:before {
    content: "\f106";
}
.icon-call:before {
    content: "\f107";
}
.icon-hashtag:before {
    content: "\f108";
}
.icon-heart:before {
    content: "\f109";
}
.icon-instagram:before {
    content: "\f10a";
}
.icon-location:before {
    content: "\f10b";
}
.icon-mail:before {
    content: "\f10c";
}
.icon-menu:before {
    content: "\f10d";
}
.icon-search-normal:before {
    content: "\f10e";
}
.icon-star:before {
    content: "\f10f";
}
.icon-tick-square:before {
    content: "\f110";
}
.icon-whatsapp:before {
    content: "\f111";
}
