@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/extends';
@import './fonts';
@import './icons';
@import '~/node_modules/swiper/swiper-bundle.min.css';
@import '~/node_modules/aos/dist/aos.css';
@import './components/swiper-customize.scss';
@import './components/buttos.scss';
@import './components/tooltip';
@import './components/forms';
@import './components/accordion';
@import './components/modal';

@import './flatpickr.scss';

@import './custom';

@layer components {
  body {
    font-family: 'IRANSansX', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 175, 193, 0);
  }

  .container {
    @apply max-w-7xl mx-auto px-4;
  }

  * {
    @apply outline-0;
  }

  .list-check {
    &.checkbox-secondary {
      li {
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z' fill='%23FFD124'/%3E%3Cpath d='M10.5799 15.58C10.3799 15.58 10.1899 15.5 10.0499 15.36L7.21994 12.53C6.92994 12.24 6.92994 11.76 7.21994 11.47C7.50994 11.18 7.98994 11.18 8.27994 11.47L10.5799 13.77L15.7199 8.63C16.0099 8.34 16.4899 8.34 16.7799 8.63C17.0699 8.92 17.0699 9.4 16.7799 9.69L11.1099 15.36C10.9699 15.5 10.7799 15.58 10.5799 15.58Z' fill='%23FFD124'/%3E%3C/svg%3E%0A")
          no-repeat right top;
        padding: 3px 30px 0px 10px;
        list-style: none;
        margin: 0;
      }
    }

    &.checkbox-primary {
      li {
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z' fill='%2300AFC1'/%3E%3Cpath d='M10.5799 15.58C10.3799 15.58 10.1899 15.5 10.0499 15.36L7.21994 12.53C6.92994 12.24 6.92994 11.76 7.21994 11.47C7.50994 11.18 7.98994 11.18 8.27994 11.47L10.5799 13.77L15.7199 8.63C16.0099 8.34 16.4899 8.34 16.7799 8.63C17.0699 8.92 17.0699 9.4 16.7799 9.69L11.1099 15.36C10.9699 15.5 10.7799 15.58 10.5799 15.58Z' fill='%2300AFC1'/%3E%3C/svg%3E%0A")
          no-repeat right top;
        padding: 3px 30px 0px 10px;
        list-style: none;
        margin: 0;
      }
    }
  }
}
